<!DOCTYPE html>
<!--
	TODO: Task 1, Task 2, Task 3
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
	</head>
	<body>

		<h2>Please Login</h2>
		<form method="POST" data-th-action="@{/login}" data-th-object="${user}">
			<table>
				<tr>
					<td> 
						<label for="username">Username:</label> 
					</td>
					<td>
						<input type="text" id="username" size="30" data-th-field="*{username}"
								placeholder="Please type in your username" >
					</td>
				</tr>
				<tr data-th-if="${#fields.hasErrors('username')}">
					<td>

					</td>
					<td>
						<span data-th-errors="*{username}" data-th-errorclass="error" style="color:red"></span>
					</td>
				</tr>
				<tr>
					<td>
						<label for="password">Password:</label>
					</td>
					<td>
						<input type="password" id="password" size="30" data-th-field="*{password}" 
								placeholder="Please type in your password">
					</td>
				</tr>
				<tr data-th-if="${#fields.hasErrors('password')}">
					<td>
						
					</td>
					<td>
						<span data-th-errors="*{password}" data-th-errorclass="error" style="color:red"></span>
					</td>
				</tr>
				<tr data-th-if="${captcha.visible}" data-th-object="${captcha}">
					<td> 
						<label for="captcha" data-th-text="'What is '+ ${captcha.firstNum} + ' ' + ${captcha.operator} + ' ' + ${captcha.secondNum} + '?'"></label> 
					</td>
					<td>
						<input type="text" id="answer" size="30" data-th-value="*{answer}" data-th-field="*{answer}"
								placeholder="Answer" >
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button type="submit">Login</button>
					</td>
				</tr>
				
			</table>
		</form>

		<div data-th-unless="${null == error}">
			<div>Error</div>
			<code data-th-text="${error}" style="color:red"></code>
		</div>
	</body>
</html>
